.Header {
  background: #000000;
  margin: -2rem -2rem 0.75rem -2rem;
  padding: 0 1rem;
  border-bottom: 4px solid #f7931a;
  &-border {
    opacity: 0.4;
    margin-top: -2rem -2rem 0.75rem -2rem;
    overflow: hidden;
    user-select: none;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
  }
  &-logo {
    font-size: 2.2rem;
    a img {
      height: 140px;
      width: auto;
      display: block;
    }
    @media (max-width: $small-screen) {
      font-size: 1.8rem;
      a img {
        height: 60px;
      }
    }
  }
  &-nav {
    display: flex;
    font-size: 1.3rem;
    @media (max-width: $small-screen) {
      font-size: 1.1rem;
    }
    a {
      color: #fff;
      opacity: 0.75;
      margin-left: 1.5rem;
      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}